# 環境変数 (機密情報を含む)
.env
.env.local

# バックエンド
__pycache__/
*.py[cod]
*$py.class
.python-version
lightning_logs/
.venv/
venv/

# フロントエンド
node_modules/
dist/
*.local

# Docker
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
