/** Global styles for ML Experience. */
html {
    scroll-behavior: smooth;
}
*::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}
*::-webkit-scrollbar-track {
    background: #181818;
}
*::-webkit-scrollbar-corner {
    background-color: #181818;
}
*::-webkit-scrollbar-thumb {
    background: #555;
}
*::-webkit-scrollbar-thumb:hover {
    background: #888;
}
* {
    scrollbar-width: thin;
    scrollbar-color: #555 #181818;
}

.sidebar {
    position: fixed;
    width: 200px;
    height: 100%;
    padding: 50px 0px 50px 40px;
    background-color:#181818;
    border-right: 1px solid #555;
    z-index: 2;
}
.main-cont {
    flex-grow: 1;
    margin-left: 250px;
    padding: 30px 50px;
    width: 80%;
    min-width: 1100px;
    z-index: 1;
    overflow-x: hidden;
}

.frame {
    background-color: #252525;
    border-radius: 5px;
    padding: 30px;
}
.separator-line {
    background-color: #555;
    height: 2px;
    margin: 40px -30px;
}

.text-def {
    white-space: nowrap !important;
}
.text-UL {
    text-decoration: underline;
    white-space: nowrap !important;
}
.text-hParam {
    text-decoration: underline;
    text-align: center;
    white-space: nowrap !important;
}

.a-inherit {
    color: inherit;
    text-decoration: none;
    background-color: transparent;
}
.a-inherit:hover, .a-inherit:active {
    color: inherit;
    text-decoration: none;
}

.margin-section {
    margin-top: 60px;
}
.margin-cont {
    margin-top: 30px;
}
.margin-sentence {
    margin-top: 15px;
}
.margin-list {
    margin-top: 10px;
    margin-left: 10px;
}

.datagrid {
    height: 400px;
}

.grid-def {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
}
.grid-setNn {
    display: grid;
    grid-template-columns: repeat(4, auto);
    justify-content: start;
    border: 1px solid #555;
    border-radius: 5px;
    width: 900px;
}
.grid-setNn > .info {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #555;
    padding: 0px 25px;
    height: 60px;
}
.grid-setNn > .item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 1px solid #555;
    padding: 0px 25px;
    height: 150px;
}
.grid-hParam {
    display: grid;
    grid-template-columns: repeat(4, auto);
    column-gap: 20px;
    row-gap: 30px;
    justify-content: start;
    align-items: center;
    width: 100%;
}
.grid-metrics {
    display: grid;
    grid-template-columns:     repeat(4, auto);
}
.grid-tValues {
    display: grid;
    grid-auto-flow: column;
    grid-template-rows: auto auto;
    column-gap: 20px;
    row-gap: 10px;
    overflow-x: auto;
}